n8n/workflows/w8_sla_breach_monitor.json
{
  "id": "wfP2W8SlaBreach0",
  "name": "P2-W8 SLA Breach Monitor",
  "active": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "getTenants",
      "name": "Get tenants",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM tenants;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "pgAppUserAts0001",
          "name": "Postgres app_user (ats)"
        }
      }
    },
    {
      "id": "getBreaches",
      "name": "Get SLA breaches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT set_config('app.tenant_id','\" + $json.id + \"', false); SELECT '\" + $json.id + \"' AS tenant_id, f.* FROM find_sla_breaches() f WHERE NOT EXISTS (SELECT 1 FROM notifications n WHERE n.related_entity_type='requisition' AND n.related_entity_id=f.requisition_id AND n.title='Requisition SLA breached' AND n.created_at > now() - interval '24 hours') LIMIT 50;\" }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "pgAppUserAts0001",
          "name": "Postgres app_user (ats)"
        }
      }
    },
    {
      "id": "buildSql",
      "name": "Build notification SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const esc = (s) => String(s).replace(/'/g, \"''\");\nconst row = $input.item.json;\nif (Object.prototype.hasOwnProperty.call(row, 'set_config')) { return { json: { sql: 'SELECT 1;' } }; }\nconst tenant = row.tenant_id;\nconst title = 'Requisition SLA breached';\nconst body = '\\\"' + esc(row.title) + '\\\" has been open ' + row.hours_open + ' hours (SLA ' + row.sla_hours + 'h) with ' + row.placements_count + '/' + row.positions_count + ' positions filled.';\nlet sql = \"SELECT set_config('app.tenant_id','\" + tenant + \"', false); \";\nsql += \"INSERT INTO notifications (tenant_id, recipient_role, channel, title, body, related_entity_type, related_entity_id) VALUES ('\" + tenant + \"', 'manager', 'inapp', '\" + title + \"', '\" + body + \"', 'requisition', '\" + row.requisition_id + \"');\";\nreturn { json: { sql } };\n"
      }
    },
    {
      "id": "write",
      "name": "Write notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "pgAppUserAts0001",
          "name": "Postgres app_user (ats)"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tenants": {
      "main": [
        [
          {
            "node": "Get SLA breaches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SLA breaches": {
      "main": [
        [
          {
            "node": "Build notification SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build notification SQL": {
      "main": [
        [
          {
            "node": "Write notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
